<div class="container" style="margin-top: 10px;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create new cargo</h4>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="card-block">

          <div class="form-row">

            <div class="col-md-6 form-group bmd-form-group">
              <label for="cargo-departure">Departure</label>
              <input type="text" class="form-control" id="cargo-departure" aria-describedby="cargo-departure-help" placeholder="Minsk">
              <small id="cargo-departure-help" class="form-text text-muted">Start typing the name of the city of departure</small>
            </div>

            <div class="col-md-6 form-group bmd-form-group">
              <label for="cargo-arrival">Arrival</label>
              <input name="geo-arrival-place" type="text" class="form-control" id="cargo-arrival" placeholder="Moscow" aria-describedby="cargo-arrival-help">
              <small id="cargo-arrival-help" class="form-text text-muted">Start typing the name of the city of arrival</small>
            </div>

          </div>

          <div class="form-row">
            <div class="col-md-6 form-group bmd-form-group">
              <label for="cargo-departure-description-short">Short description</label>
              <input type="text" class="form-control" id="cargo-departure-description-short" placeholder="Древесина">
            </div>
            <div class="col-md-2 form-group bmd-form-group">
              <label for="cargo-departure-date-start">Date of download</label>
              <input type="date" class="form-control" id="cargo-departure-date-start">
            </div>
            <div class="col-md-2 form-group bmd-form-group">
              <label for="cargo-departure-date-end"> Date of uploading </label>
              <input type="date" class="form-control" id="cargo-departure-date-end">
            </div>
            <div class="col-md-2 form-group bmd-form-group">
              <div class="form-check" id="sad">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input"> Permanent
                </label>
                <small id="cargo-departure-date-help" class="form-text text-muted">Select the departure date of the shipment</small>
              </div>
            </div>
          </div>

          <div class="form-group bmd-form-group">
            <label for="cargo-body-type">Body type</label>
            <select class="form-control" id="cargo-body-type">
              <option>Тент</option>
              <option>Рефрежиратор</option>
              <option>Изотерма</option>
            </select>
          </div>
          <div class="form-group bmd-form-group">
            <label for="cargo-load-type">Load type</label>
            <select class="form-control" id="cargo-load-type">
              <option>Боковая</option>
              <option>Задняя</option>
              <option>Верхняя</option>
              <option>Со снятием стоек</option>
            </select>
          </div>

          <div class="form-row">
            <div class="col-md-1 form-group bmd-form-group">
              <label for="cargo-weight"> Weight </label>
              <input type="number" class="form-control" id="cargo-weight" aria-describedby="cargo-departure-date-help" placeholder="0.00">
            </div>


            <div class="col-md-1 form-group bmd-form-group">
              <label for="cargo-volume"> Volume </label>
              <input type="number" class="form-control" id="cargo-volume" aria-describedby="cargo-departure-date-help" placeholder="0.00">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
