<span [matTooltip]='tooltipValue' [matTooltipPosition]="'above'">

  <span *ngIf="addressData['country'] && visibleItems['flag']"
        class="country flag-icon flag-icon-{{ addressData['country'].short_name |lowercase }} flag-icon-squared">
  </span>

  <span *ngIf="addressData['city'] && visibleItems['city']" class="city">
    <strong>{{ addressData['city'].long_name }}</strong>
  </span>
  <span *ngIf="addressData['region'] && visibleItems['region']" class="region">
    {{ addressData['region'].long_name }}
  </span>

  <span *ngIf="addressData['country'] && visibleItems['country']" class="country">
    <strong>{{ addressData['country'].long_name }}</strong>
  </span>

  <span *ngIf="addressData['country'] && visibleItems['country_short']" class="country">
    <strong>{{ addressData['country'].short_name }}</strong>
  </span>
</span>
