<form #f="ngForm" (submit)="onSubmit(f)">
    <mat-dialog-content>
      <div mat-dialog-title>Cargo create</div>
          <div class="row">

            <div class="col-md-6">
              <app-input-geocoder
                required
                #geocoder_departure_input
                placeholder="Departure city"
                [types]="['(cities)']"
              ></app-input-geocoder>
            </div>

            <div class="col-md-6 from-froup ">
              <app-input-geocoder
                required
                #geocoder_arrival_input
                placeholder="Arrival city"
                [types]="['(cities)']"
              ></app-input-geocoder>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  required
                  maxlength="30"
                  placeholder="Short description"
                  value="{{ cargo.title }}"
                  [(ngModel)]="cargo.title"
                  name="title"
                >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input
                  matInput [matDatepicker]="departure_date"
                  placeholder="Date of download"
                  [(disabled)]="cargo.is_permanent"
                  [(ngModel)]="cargo.departure_date"
                  name="departure_date"
                >
                <mat-datepicker-toggle matSuffix [for]="departure_date"></mat-datepicker-toggle>
                <mat-datepicker [startAt]="date_now" #departure_date></mat-datepicker>

              </mat-form-field>
            </div>
            <div class="col-md-3" [(attr.disabled)]="cargo.is_permanent || !cargo.departure_date">
              <mat-form-field>
                <input
                  matInput [matDatepicker]="arrival_date"
                  placeholder="Date of uploading"
                  [(disabled)]="cargo.is_permanent || !cargo.departure_date"
                  [(ngModel)]="cargo.arrival_date"
                  name="arrival_date"
                >
                <mat-datepicker-toggle matSuffix [for]="arrival_date"></mat-datepicker-toggle>
                <mat-datepicker
                  #arrival_date
                  [(startAt)]="cargo.departure_date"
                  [(startView)]="cargo.departure_date"
                ></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <mat-checkbox name="permanent" [(ngModel)]="cargo.is_permanent">Permanent</mat-checkbox>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Body type"  [(ngModel)]="cargo.transport_type" name="transport_type">
                  <mat-option *ngFor="let tt of transport_type" [value]="tt">
                    {{ tt }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Load type"  [(ngModel)]="cargo.load_type" name="load_type">
                  <mat-option *ngFor="let lt of load_type" [value]="lt">
                    {{ lt }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-1">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Weight"
                  value="{{ cargo.weight }}"
                  [(ngModel)]="cargo.weight"
                  name="weight"
                >
              </mat-form-field>
            </div>


            <div class="col-md-1">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  placeholder="Volume"
                  value="{{ cargo.volume }}"
                  [(ngModel)]="cargo.volume"
                  name="volume"
                >
              </mat-form-field>
            </div>

          </div>
    </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="cancelCreation($event)">Cancel</button>
    <button mat-raised-button type="reset">Reset</button>
    <button mat-raised-button type="submit" color="primary">Create</button>
  </div>
</form>
