<div class="container" style="margin-top: 10px;">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Create new cargo</h4>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <form #f="ngForm" (submit)="onSubmit(f)">
        <div class="card-block">

          <div class="row">

            <div class="col-md-6">
                <app-input-geocoder
                  #geocoder_departure_input
                  placeholder="Departure city"
                  id="cargo-departure"
                  aria-describedby="cargo-departure-help"
                  [types]="['(cities)']"
                ></app-input-geocoder>
            </div>

            <div class="col-md-6 from-froup ">
              <app-input-geocoder
                #geocoder_arrival_input
                placeholder="Arrival city"
                id="cargo-arrival"
                [types]="['(cities)']"
                aria-describedby="cargo-departure-help"
              ></app-input-geocoder>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <input
                  matInput
                  required
                  maxlength="30"
                  placeholder="Short description"
                  value="{{ cargo.title }}"
                  [(ngModel)]="cargo.title"
                  name="title"
                >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field>
                <input
                  matInput [matDatepicker]="departure_date"
                  placeholder="Date of download"
                  [(disabled)]="cargo.is_permanent"
                  [(ngModel)]="cargo.departure_date"
                  name="departure_date"
                >
                <mat-datepicker-toggle matSuffix [for]="departure_date"></mat-datepicker-toggle>
                <mat-datepicker #departure_date></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-3" [(attr.disabled)]="cargo.is_permanent || !cargo.departure_date">
              <mat-form-field>
                <input
                  matInput [matDatepicker]="arrival_date"
                  placeholder="Date of uploading"
                  [(disabled)]="cargo.is_permanent || !cargo.departure_date"
                  [(ngModel)]="cargo.arrival_date"
                  name="arrival_date"
                >
                <mat-datepicker-toggle matSuffix [for]="arrival_date"></mat-datepicker-toggle>
                <mat-datepicker #arrival_date></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <mat-checkbox name="permanent" [(ngModel)]="cargo.is_permanent">Permanent</mat-checkbox>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <mat-form-field>
                <mat-select placeholder="Body type"  [(ngModel)]="cargo.transport_type" name="transport_type">
                  <mat-option *ngFor="let tt of transport_type" [value]="tt">
                    {{ tt }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 form-group bmd-form-group">
              <mat-form-field>
                <mat-select placeholder="Load type"  [(ngModel)]="cargo.load_type" name="load_type">
                  <mat-option *ngFor="let lt of load_type" [value]="lt">
                    {{ lt }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-1 form-group bmd-form-group">
              <label for="cargo-weight"> Weight </label>
              <input
                type="number"
                class="form-control"
                id="cargo-weight"
                aria-describedby="cargo-departure-date-help"
                placeholder="0.00"
                value="{{ cargo.weight }}"
                [(ngModel)]="cargo.weight"
                name="weight"
              >
            </div>


            <div class="col-md-1 form-group bmd-form-group">
              <label for="cargo-volume"> Volume </label>
              <input
                type="number"
                class="form-control"
                id="cargo-volume"
                aria-describedby="cargo-departure-date-help"
                placeholder="0.00"
                value="{{ cargo.volume }}"
                [(ngModel)]="cargo.volume"
                name="volume"
              >
            </div>

          </div>


        </div>
        <button type="reset" class="btn btn-outline-primary">Reset</button>
        <button type="submit" class="btn btn-primary btn-raised">Create</button>
      </form>
    </div>
  </div>
</div>
