<div class="container-fluid" style="margin-top: 10px">

  <div class="row">
    <div class="col-md-3">
      <app-cargo-filter-my-list></app-cargo-filter-my-list>
    </div>
    <div class="col-md-9">
      <div class="row" class="">
        <div class="col-md-12">
          <div [hidden]="entity_search_service.count !== null">
            <mat-progress-spinner class="center"
                                  color="primary"
                                  mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div [hidden]="entity_search_service.count === null">
            <div class="row">
               <div class="col-md-12">
                 <mat-paginator
                         #paginator
                         [length]="entity_search_service.count"
                         [pageIndex]="0"
                         [pageSize]="25"
                         [pageSizeOptions]="[25, 100]">
                 </mat-paginator>
                 <mat-table class="" #table [dataSource]="dataSource">
                     <ng-container matColumnDef="departure_place">
                       <mat-header-cell *matHeaderCellDef > {{ 'Departure'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row">
                         <app-google-placeid
                                 [viewItems]="['flag', 'city']"
                                 [placeId]="row.departure_place"
                         >
                         </app-google-placeid>
                       </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="arrival_place">
                       <mat-header-cell *matHeaderCellDef > {{ 'Arrival'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row">
                         <app-google-placeid
                                 [viewItems]="['flag', 'city']"
                                 [placeId]="row.arrival_place"
                         >
                         </app-google-placeid>
                       </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="title">
                       <mat-header-cell *matHeaderCellDef > {{ 'Title'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="transport_type">
                       <mat-header-cell *matHeaderCellDef > {{ 'Transport Type'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{row.transport_type | translate }} </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="load_type">
                       <mat-header-cell *matHeaderCellDef > {{ 'Load Type'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{row.load_type | translate}} </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="departure_date">
                       <mat-header-cell *matHeaderCellDef  disableClear="true"> {{ 'Departure Date'| translate  }} </mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{ row.is_permanent ? '' : row.departure_date|date }} </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="arrival_date">
                       <mat-header-cell *matHeaderCellDef > {{ 'Arrival Date' | translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row">
                         {{ row.is_permanent ? '' : row.arrival_date|date }}
                       </mat-cell>
                     </ng-container>

                     <ng-container matColumnDef="is_permanent">
                       <mat-header-cell *matHeaderCellDef > {{ 'Is Permanent'|translate }} </mat-header-cell>
                       <mat-cell *matCellDef="let row"> {{ (row.is_permanent ? 'Yes' : 'No') | translate }} </mat-cell>
                     </ng-container>

                     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="cursor-pointer" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                   </mat-table>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
