.logistic-list-item {
  margin-bottom: 10px;
}

.search-information-card {
  bottom: 0px;
}

.search-items-list {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.search-items-list-table {
}