
<mat-dialog-content>
  <form #f="ngForm" (submit)="onSubmit(f)">
    <div mat-dialog-title>{{ 'New filter of the Cargo'| translate }}</div>


    <mat-horizontal-stepper [linear]="isLinear" #filter_stepper>
      <mat-step [stepControl]="departureFormGroup">
        <form>
          <div class="row">
            <div class="col-md-12">
              <ng-template matStepLabel>{{ 'Departure Places'| translate }}</ng-template>
              <div id="filter_form_map_departure" style="min-height: 400px; width: 100%;"></div>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="arrivalFormGroup">
        <form>
          <ng-template matStepLabel>{{ 'Arrival places'| translate }}</ng-template>
          <div id="filter_form_map_arrival" style="min-height: 400px; width: 100%;"></div>
        </form>
      </mat-step>

      <mat-step [stepControl]="extraOptionsFormGroup">
        <ng-template matStepLabel>{{ 'Extra options' | translate }}</ng-template>

        <h4>{{ 'Dates' |translate }}</h4>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input
                          matInput [matDatepicker]="departure_date_min"
                          placeholder="{{ 'Minimal date of the download'|translate }}"
                          [disabled]="isDateFieldsDisabled()"
                          [(ngModel)]="filter.departure_date_min"
                          name="departure_date_min"
                  >
                  <mat-datepicker-toggle matSuffix [for]="departure_date_min"></mat-datepicker-toggle>
                  <mat-datepicker
                          [startAt]="date_now"
                          [(startView)]="date_now"
                          #departure_date_min
                  ></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input
                          matInput [matDatepicker]="departure_date_max"
                          placeholder="{{ 'Maximum date of the download' | translate}}"
                          [disabled]="isDateFieldsDisabled()"
                          [(ngModel)]="filter.departure_date_max"
                          name="departure_date_max"
                  >
                  <mat-datepicker-toggle matSuffix [for]="departure_date_max"></mat-datepicker-toggle>
                  <mat-datepicker
                          #departure_date_max
                          [(startAt)]="filter.departure_date_min"
                          [(startView)]="filter.departure_date_min"
                  ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input
                          matInput [matDatepicker]="arrival_date_min"
                          placeholder="{{ 'Minimal date of the download'|translate }}"
                          [disabled]="isDateFieldsDisabled()"
                          [(ngModel)]="filter.arrival_date_min"
                          name="arrival_date_min"
                  >
                  <mat-datepicker-toggle matSuffix [for]="arrival_date_min"></mat-datepicker-toggle>
                  <mat-datepicker
                          [(startAt)]="filter.departure_date_min || filter.departure_date_max"
                          [(startView)]="filter.departure_date_min  || filter.departure_date_max"
                          #arrival_date_min
                  ></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-md-6" [(attr.disabled)]="filter.permanent_status">
                <mat-form-field>
                  <input
                          matInput [matDatepicker]="arrival_date_max"
                          placeholder="{{ 'Maximum date of the download' | translate}}"
                          [disabled]="isDateFieldsDisabled()"
                          [(ngModel)]="filter.arrival_date_max"
                          name="arrival_date_max"
                  >
                  <mat-datepicker-toggle matSuffix [for]="arrival_date_max"></mat-datepicker-toggle>
                  <mat-datepicker
                          #arrival_date_max
                          [(startAt)]="filter.arrival_date_max"
                          [(startView)]="filter.arrival_date_max"
                  ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="{{ 'Is permanent'| translate }}"  [(ngModel)]="filter.permanent_status" name="permanent_status">
                <mat-option *ngFor="let pt of _permanent_type" [value]="pt">
                  {{ 'permanent-type-' + pt |translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <h4>{{ 'Dimensions' |translate }}</h4>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field>
              <input
                      matInput
                      type="number"
                      placeholder="{{ 'Volume min' | translate }}"
                      value="{{ filter.volume_min }}"
                      [(ngModel)]="filter.volume_min"
                      name="volume"
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input
                      matInput
                      type="number"
                      placeholder="{{ 'Volume max' | translate }}"
                      value="{{ filter.volume_max }}"
                      [(ngModel)]="filter.volume_max"
                      name="volume"
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <mat-form-field>
              <input
                      matInput
                      type="number"
                      placeholder="{{ 'Weight min' | translate }}"
                      value="{{ filter.weight_min }}"
                      [(ngModel)]="filter.weight_min"
                      name="weight"
              >
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field>
              <input
                      matInput
                      type="number"
                      placeholder="{{ 'Weight max' | translate }}"
                      value="{{ filter.weight_max }}"
                      [(ngModel)]="filter.weight_max"
                      name="weight"
              >
            </mat-form-field>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'Done' | translate }}</ng-template>

        <div class="row">
          <div class="col-md-4">
            <mat-form-field>
              <input
                      matInput
                      type="text"
                      placeholder="{{ 'Title' | translate }}"
                      value="{{ filter.title }}"
                      [(ngModel)]="filter.title"
                      maxlength="30"
                      name="title"
              >
              <mat-hint align="end">{{filter.title?.length || 0}}/30</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </mat-step>

    </mat-horizontal-stepper>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancelCreation($event)"> {{ 'Cancel'| translate }}</button>
  <button *ngIf="filter_stepper.selectedIndex > 0" mat-button (click)="filter_stepper.previous()">
    <mat-icon>keyboard_arrow_left</mat-icon>
    {{ 'Back' | translate }}
  </button>
  <button *ngIf="filter_stepper.selectedIndex < 3" (click)="filter_stepper.next()" mat-raised-button>
    {{ 'Next' | translate }}
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button *ngIf="filter_stepper.selectedIndex === 3" (click)="onSubmit(f)" mat-raised-button type="submit" color="primary">{{ 'Create'|translate }}</button>
</mat-dialog-actions>
