<form #f="ngForm" (submit)="onSubmit(f)">
  <mat-dialog-content>
    <!--<mat-horizontal-stepper [linear]="isLinear" style="min-width: 800px; min-height: 500px">
      <div mat-dialog-title>{{ 'Creating new filter of the cargo'| translate }}</div>

      <mat-step [stepControl]="placeDepartureGroup">
        <form [formGroup]="placeDepartureGroup">
          <ng-template matStepLabel>{{ 'Places of departure'|translate }}</ng-template>
          <mat-form-field>
            <input matInput placeholder="City, Country, Region" required>
          </mat-form-field>

          <agm-map class="map-filter"> </agm-map>
        </form>
      </mat-step>

      <mat-step [stepControl]="placeArrivalGroup">
        <form [formGroup]="placeArrivalGroup">
          <ng-template matStepLabel>{{ 'Places of arrival'|translate }}</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>{{ 'Back'|translate }}</button>
            <button mat-button matStepperNext>{{ 'Next'|translate }}</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'Time frames'|translate }}</ng-template>
        You are now done.
      </mat-step>


      <mat-step>
        <ng-template matStepLabel>{{ 'Dimensions'|translate }}</ng-template>
        You are now done.
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{ 'Done'|translate }}</ng-template>
        You are now done.
      </mat-step>

    </mat-horizontal-stepper> -->

    <div mat-dialog-title>{{ 'New filter of the Cargo'| translate }}</div>

    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="{{ 'Title' | translate }}"
                value="{{ filter.title }}"
                [(ngModel)]="filter.title"
                name="title"
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input
                    matInput [matDatepicker]="departure_date_min"
                    placeholder="{{ 'Minimal date of the download'|translate }}"
                    [(disabled)]="filter.is_permanent"
                    [(ngModel)]="filter.departure_date_min"
                    name="departure_date_min"
                  >
                  <mat-datepicker-toggle matSuffix [for]="departure_date_min"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="date_now" #departure_date_min></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-md-6" [(attr.disabled)]="filter.is_permanent">
                <mat-form-field>
                  <input
                    matInput [matDatepicker]="departure_date_max"
                    placeholder="{{ 'Maximum date of the download' | translate}}"
                    [(disabled)]="filter.is_permanent"
                    [(ngModel)]="filter.departure_date_max"
                    name="departure_date_max"
                  >
                  <mat-datepicker-toggle matSuffix [for]="departure_date_max"></mat-datepicker-toggle>
                  <mat-datepicker
                    #departure_date_max
                    [(startAt)]="filter.departure_date_min"
                    [(startView)]="filter.departure_date_min"
                  ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field>
                  <input
                    matInput [matDatepicker]="arrival_date_min"
                    placeholder="{{ 'Minimal date of the download'|translate }}"
                    [(disabled)]="filter.is_permanent"
                    [(ngModel)]="filter.arrival_date_min"
                    name="arrival_date_min"
                  >
                  <mat-datepicker-toggle matSuffix [for]="arrival_date_min"></mat-datepicker-toggle>
                  <mat-datepicker
                    [(startAt)]="filter.departure_date_min || filter.departure_date_max"
                    [(startView)]="filter.departure_date_min  || filter.departure_date_max"
                    #arrival_date_min
                  ></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="col-md-6" [(attr.disabled)]="filter.is_permanent">
                <mat-form-field>
                  <input
                    matInput [matDatepicker]="arrival_date_max"
                    placeholder="{{ 'Maximum date of the download' | translate}}"
                    [(disabled)]="filter.is_permanent"
                    [(ngModel)]="filter.arrival_date_max"
                    name="arrival_date_max"
                  >
                  <mat-datepicker-toggle matSuffix [for]="arrival_date_max"></mat-datepicker-toggle>
                  <mat-datepicker
                    #arrival_date_max
                    [(startAt)]="filter.arrival_date_max"
                    [(startView)]="filter.arrival_date_max"
                  ></mat-datepicker>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <mat-select placeholder="{{ 'Is permanent'| translate }}"  [(ngModel)]="filter.is_permanent" name="is_permanent">
                <mat-option *ngFor="let pt of _permanent_type" [value]="pt">
                  {{ 'permanent-type-' + pt |translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="{{ 'Volume min' | translate }}"
                value="{{ filter.volume_min }}"
                [(ngModel)]="filter.volume_min"
                name="volume"
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="{{ 'Volume max' | translate }}"
                value="{{ filter.volume_max }}"
                [(ngModel)]="filter.volume_max"
                name="volume"
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="{{ 'Weight min' | translate }}"
                value="{{ filter.weight_min }}"
                [(ngModel)]="filter.weight_min"
                name="weight"
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="{{ 'Weight max' | translate }}"
                value="{{ filter.weight_max }}"
                [(ngModel)]="filter.weight_max"
                name="weight"
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="filter_form_map" style="min-height: 500px; width: 100%; height: 100%"></div>
      </div>

    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button (click)="cancelCreation($event)" i18n> {{ 'Cancel'| translate }}</button>
      <button mat-button type="reset">{{ 'Reset'|translate }}</button>
      <button mat-raised-button type="submit" color="primary" i18n>{{ 'Create'|translate }}</button>
  </mat-dialog-actions>
</form>
